.door{
    z-index: 1000;
    display:block;
    position:absolute;
    top:0;
    left:0;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    overflow:hidden;
    &__blocks{
        display:block;
        z-index: 1100;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        overflow:hidden;
        //background-color: $gray-2;
        &__firstBlock{
            display:block;
            z-index: 1200;
            position:absolute;
            top:0;
            left:0;
            background-color:$doorFixed;
            width:50%;
            height:100vh;
        }
        &__secondBlock{
            display:block;
            z-index: 1200;
            position:absolute;
            top:0;
            right:0;
            background-color:$doorFixed;
            width:50%;
            height:100vh;
        }
        &__logoBlock{
            z-index: 1300;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position:absolute;
            top:50%;
            left:50%;
            width:50vw;
            height:min-content;
            transform: translate(-50%, -50%);
            background-color: $doorMove;
            padding:2rem;
            border-radius: 2rem;
            &:hover{
                border:thin solid saturate(lighten(#16181F,70),50);
            }
            & h1{
                color:saturate(lighten(#16181F,80),80);
            }
            & h1::first-letter{
                color:$purple-primary;
                font-size: 3rem;
            }
            &__logo{
                display:block;
                overflow:hidden;
                width: 500px;
                aspect-ratio: 500/300;
                margin: 2rem auto 6rem auto;
                padding: 2rem;
                border-radius: 20px;
                transition: all 250ms ease-in;
                & img{
                    max-width: 100%;
                    width: 100%;
                    height: auto;
                    aspect-ratio: 500/250;
                    margin:auto;
                }
                &:hover{
                    transform:scale(1.3);
                    cursor:pointer;
                }
            }

            & p{
                color:lighten($doorMove,90);
                text-align: center;
                margin:auto;
                font-size: 2rem;
                font-family: 'oxaniummedium';
            }
            & blockquote{
                font-size: 1.75rem;
                color:$purple-1;
                text-align: center;
                margin:auto;
            }
        }
    }
}
#toAnimate{
    animation: animateClickhere infinite 2500ms 850ms;

}

