/* Instructions basiques d'initialisation */
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    font-size:16px;
    background-color:lighten($primaryClr, 80) ;
}

html, body{
    height:100%;
    width:100%;
    max-width: 100vw;
    font-family: sans-serif;
}
